body {font-family: 'Oswald', sans-serif;background:  #dde2e2;
}
#img-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
table{
    border: 4px solid rgb(239, 239, 243);
    
    width:150px;
    height:150px;
margin:15px ;}
tr:hover {
  
    background-color: rgba(149, 162, 153, 0.5);
    cursor: pointer;
    
}
 footer {
   
    background-color: #c9d2d0;
    text-align: center;
}
h1 { background-color: #c9d2d0;
     text-align: center;
     
}
h2:hover {
    text-decoration: underline;
    cursor: pointer;
}
.widget {
    margin: 0,0rem;
}
.widget p {
    display: inline-block;
    line-height: 0.7rem;
}
.fecha {
    font-family: 'Oswald',sans-serif;
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 0.2125rem;
  
    
}
.reloj {
    font-family: 'Oswald',sans-serif ;
    text-align: center;
    font-size: 0.7rem;
    margin-bottom: 0.3125rem;
}
.reloj .segundos,
.reloj .ampm {
    font-family: 'Oswald',sans-serif ;
    padding: 0.1px;
    text-align: center;
    font-size: 0.7rem;
    display:inline-block;
}
.form {
    font-size: 1em;
    text-align: center;
    background:rgba(149, 162, 153, 0.5);
}

h3:hover {
    text-decoration: underline;
    cursor: pointer;
}
.menu{
    list-style: none;
    padding: 0;
    margin: auto;
    width: 100%;
    background: rgba(149, 162, 153, 0.5);
    text-align: center;
}
.menu li {

    display: inline-block;
    text-align: center;
}
.menu li a{
    text-decoration: none;
    color: #0b0413;
    padding: 20px;
    display: block;
}
.menu li a:hover{
    background: rgb(230, 230, 241);
}
